---
layout: default
---
<div class="home">
  <h1 class="page-heading">技术相关</h1>
  <ul class="post-list">
      {% for weekly in site.data.weekly %}
      <li>
	<h2>
	  <a class="post-link" href="{{ weekly.href }}">{{ weekly.title }}</a>
	  <span class="post-meta">posted at: {{ weekly.time }} <em class="author">作者：{{ weekly.author }}</em></span>
	</h2>
	<p>
	    简介：{{ weekly.description }}
	</p>
      </li>
      {% endfor %}
    {% for post in site.posts %}
      <li>
	<h2>
	  <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
	  <span class="post-meta">posted at: {{ post.date | date: "%b %-d, %Y" }} <em class="author">{% if (post.author) %}作者：{{post.author}}{% else %}宝宝树前端团队{% endif %}</em></span>
	</h2>
	<p>
	    简介：{{ post.description }}
	</p>
      </li>
    {% endfor %}
  </ul>

  <h1 class="page-heading">培训相关</h1>
  <ul class="post-list">
      <li>
	<span class="post-meta">posted at: 2015-12-01</span>
	<h2>
	  <a class="post-link" href="page/flexbox/index1.html">Flexbox构建响应式图片</a>
	</h2>
      </li>
      <li>
	<span class="post-meta">posted at: 2015-12-01</span>
	<h2>
	  <a class="post-link" href="page/flexbox/index2.html">基于Flex的简单磁贴式布局</a>
	</h2>
      </li>
      <li>
	<span class="post-meta">posted at: 2015-12-01</span>
	<h2>
	  <a class="post-link" href="page/flexbox/index3.html">基于Flex的简单响应式 Grid 布局</a>
	</h2>
      </li>
  </ul>
</div>

