---
layout: default
---

<div class="home">

  <h1 class="page-heading">技术相关</h1>
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          <span class="post-meta">posted at: {{ post.date | date: "%b %-d, %Y" }}</span>
        </h2>
        <p class="description-text">
            {% if (post.description) %}{{ post.description }}... <a class="read-more" href="{{ post.url | prepend: site.baseurl }}">[阅读全文]</a> {% endif %}
        </p>
      </li>
    {% endfor %}
  </ul>

  <h1 class="page-heading">培训相关</h1>
  <ul class="post-list">
      <li>
        <span class="post-meta">posted at: 2015-12-01</span>
        <h2>
          <a class="post-link" href="page/flexbox/index1.html">Flexbox构建响应式图片</a>
        </h2>
      </li>
      <li>
        <span class="post-meta">posted at: 2015-12-01</span>
        <h2>
          <a class="post-link" href="page/flexbox/index2.html">基于Flex的简单磁贴式布局</a>
        </h2>
      </li>
      <li>
        <span class="post-meta">posted at: 2015-12-01</span>
        <h2>
          <a class="post-link" href="page/flexbox/index3.html">基于Flex的简单响应式 Grid 布局</a>
        </h2>
      </li>
  </ul>

</div>
