<footer class="site-footer">

  <div class="wrapper">

    <!--<h2 class="footer-heading">{{ site.title }}</h2>-->

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li><a href="/about/">{{ site.title }}</a></li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

    </div>

    <div class="friend-link">
        <div class="friend-title">友情链接</div>
	<a href="http://testudy.cc/">胡继伟</a>
	<a href="https://yj1438.github.io/">尹杰</a>
	<a href="https://github.com/cnsnake11/blog">曹楠</a>
	<a href="http://www.jianshu.com/users/b7dc4381aed3/">姚琪</a>
	<a href="">魏莉</a>
	<a href="https://wangjiaoxia.github.io/">王娇霞</a>
	<a href="https://lq1228.github.io/">李倩</a>
	<a href="http://www.ushtml.com/">武明礼</a>
	<a href="http://kouyun.me/">寇云</a>
	<a href="http://brooch.me/">郑星宬</a>
	<a href="http://zhanyouwei.com/">占友伟</a>
    </div>

    <div class="copyright">
      <p>{{ site.description }}</p>
    </div>

  </div>

</footer>
